@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="drop-down">
            <a href="#">Account</a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Privacy and safety", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    @Html.ActionLink("Your account", "Index", "UserDetails")
                </li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="drop-down">
                        <a href="#">Admin</a>
                        <ul>
                            <li><a href="@Url.Action("Index","RolesAdmin")">Roles</a></li>
                            <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
                        </ul>
                    </li>
                }
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
